body{
    padding-top: 100px;
    background: #fff;
}

nav{
    height: 54px;
    
}

::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-image: url("search-solid.svg");
    background-repeat:  no-repeat;
    background-position: 40%;
    background-size: 6%;
    
    
    
  }
  
  .middlearea{
    max-height: 200px !important;
  }

 .card-body img{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin-left:18px;
    border: 2px solid rgb(238, 39, 82);
   
    
  }

  .rightpanel{
    background-color: white;
    border-style: none;
  }

  #sticky-sidebar{
    
    position: sticky;
    top: 50px;
  }